

$PRIMARY_COLOR: #F2B84B;
$SECONDARY_COLOR: #FB6542; 
$TERTIARY_COLOR: #41D9D9;

$BLACK_COLOR: #1E1E1E;
$BLACK_ALT_COLOR: #262626;
$WHITE_COLOR: #FFFFFF;

$SUCCESS_COLOR: #118744;
$ERROR_COLOR: #F23535;

$SUCCESS_GRADIENT: "";
$ERROR_GRADIENT: "";