@import "../../styles/theme.scss";


.page {
    @media screen and (max-width: 560px) {
        padding: 0 16px;
    }
    @media screen and (min-width: 560px) {
        padding: 0 10vw;
    }
    @media screen and (min-width: 880px) {
        padding: 0 12vw;
    }
    @media screen and (min-width: 1080px) {
        padding: 0 20vw;
    }

}


.time_container {
    width: 100%;

    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 12px;

    color: $WHITE_COLOR;
    background-image: linear-gradient(to bottom right, $PRIMARY_COLOR, $SECONDARY_COLOR);
}


.time_container__time {
    font-size: 4.4rem;
    font-weight: 600;

    // font-family: 'Oswald';
    @media screen and (min-width: 880px) {
        font-size: 4.8rem;
    }
}

.time_container__current_task {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 560px;
}



.time_container__current_task__indicator__container {
    height: .8rem;
    width: .8rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $WHITE_COLOR;
}

.time_container__current_task__indicator {
    height: .6rem;
    width: .6rem;
    border-radius: 50%;

    align-self: center;

    background-color: $PRIMARY_COLOR;
    // background-image: linear-gradient(to bottom, $TERTIARY_COLOR, $SUCCESS_COLOR);
}


.time_container__current_task__title {
    text-align: center;
}



.time_container__actions {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-width: 160px;
    max-width: 300px;

}


.time_container__actions__icon_button {
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: $WHITE_COLOR;
    color: red;
}


.time_container__actions__icon_button__icon {
    color: orange;
}




// no tasks
.no_tasks_container {
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: .8rem;
        text-align: center;
    }

    .no_tasks_container__icon {
        color: orange;

        font-size: 4rem;

        opacity: .6;
        
        transition: 200ms ease-in-out;
        animation: shaker_kf 2s ease-in-out 5s infinite alternate both;
    }

}

@keyframes shaker_kf {
    0% {
        transform: rotate(-20deg);
        color: $SECONDARY_COLOR;
    }
    5% {
        transform: rotate(20deg);
    }
    10% {
        transform: rotate(-20deg);
        color: $PRIMARY_COLOR;
    }
    15% {
        transform: rotate(20deg);
    }
    20% {
        transform: rotate(0deg);
        color: $SECONDARY_COLOR;
    }
    30% {
        transform: rotate(0deg);
        color: $PRIMARY_COLOR;
    }
}


// add tasks

.add_tasks_container {
    z-index: 5;

    position: fixed;
    bottom: 0;
    right: 0;
    
    display: flex;
    justify-content: center;

    width: 100vw;
    min-height: 60px;

    background-color: $WHITE_COLOR;
    // background-color: chocolate;

    .add_tasks_container__text_input {
        width: 100%;
        // max-width: 680px;
        
        padding: 0px 12px;

        border-radius: 0;
    }

    
    @media screen and (max-width: 560px) {
        padding: 10px 16px;
    }
    @media screen and (min-width: 560px) {
        padding: 10px 10vw;
    }
    @media screen and (min-width: 880px) {
        padding: 10px 12vw;
    }
    @media screen and (min-width: 1080px) {
        padding: 10px 20vw;
    }
}


.tasks_header {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;


    h2 {
        flex: 1;
        opacity: .7;

        @media screen and (min-width: 880px) {
            font-size: 2rem;
        }
    }
} 

.tasks_header__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;


    color: $WHITE_COLOR;

    .tasks_header__actions__add_button {
        height: 2rem;
        width: 2rem;

        border-radius: 50%;
                
        display: flex;
        justify-content: center;
        align-items: center;

        // background-color: $BLACK_COLOR;
        background-image: linear-gradient(to bottom right, $PRIMARY_COLOR, $SECONDARY_COLOR);
    

        cursor: pointer;

        .tasks_header__actions__add_button__icon {
            color: $WHITE_COLOR;
        }
    }

    .tasks_header__actions__date {
        margin-left: 1rem;

        padding: .4rem 1rem;

        border-radius: 32px;
                
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: .72rem;
        font-weight: bolder;

        background-image: linear-gradient(to bottom right, $PRIMARY_COLOR, $SECONDARY_COLOR);
    }
}



.primary_button {
    text-transform: none;
    border-radius: 32px;
    padding: 4px 20px;
    background-image: linear-gradient(to bottom right, $PRIMARY_COLOR, $SECONDARY_COLOR);
}

.fab_container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 12px;


    display: flex;
    justify-content: center;
    align-items: center;

}