@import "../../styles/theme.scss";




.no_tasks_container {
    // margin-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 10px;

}


p {
    font-size: .8rem;
    text-align: center;

    @media screen and (min-width: 880px) {
        font-size: 1rem;
    }
}

.no_tasks_container__icon {
    color: orange;

    font-size: 4rem;

    opacity: .6;
    
    // transition: 200ms ease-in-out;
    animation: shaker_kf 2s ease-in-out 5s infinite alternate both;


    @media screen and (min-width: 880px) {
        font-size: 5rem;
    }
}


.add_task_button {
    padding: .4rem 1rem;
}



@keyframes shaker_kf {
    0% {
        transform: rotate(-20deg);
        color: $SECONDARY_COLOR;
    }
    5% {
        transform: rotate(20deg);
    }
    10% {
        transform: rotate(-20deg);
        color: $PRIMARY_COLOR;
    }
    15% {
        transform: rotate(20deg);
    }
    20% {
        transform: rotate(0deg);
        color: $SECONDARY_COLOR;
    }
    30% {
        transform: rotate(0deg);
        color: $PRIMARY_COLOR;
    }
}
