@import "../../styles/commons";



.card {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem .5rem 1rem 1rem;
    margin-bottom: .5rem;

    border-radius: 8px;

    background-color: rgba(255, 165, 0, .2);

    @media screen and (max-width: 400px) {
        // background-color: orange;
        padding: .8rem .5rem .8rem 1rem;
    }
}

.card_completed { }


.card_task_status_indicator {
    content: "";
    position: absolute;
    left: -2px;
    top: 20%;
    bottom: 20%;
    width: .6rem;

    border-radius: 4px;
 
    transition: 2s;
}


.card_completed::before {
    @extend .card_task_status_indicator;

    background-color: rgba(17, 135, 46, .6);
}

.card_ongoing {
    // background-image: linear-gradient(to bottom, rgba(65, 217, 217, .2), rgba(65, 217, 217, .1), rgba(251, 101, 66, .1));
}
.card_ongoing::before {
    @extend .card_task_status_indicator;

    background-color: rgba(65, 217, 217, .6);
}





.card__text {
    flex: 1;
    font-size: 1.1rem;
    text-align: left;

    color: $BLACK_COLOR;

    max-width: 80%;
    
    @media screen and (min-width: 880px) {
        font-size: 1.4rem;
    }
}

.card__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.card__actions__icon_button {
    // height: 2rem;
    // width: 2rem;
    height: 2.4rem;
    width: 2.4rem;
    // padding: .8rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: $WHITE_COLOR;
    
    
    cursor: pointer;
}


.card__actions__icon_button__icon {
    font-size: 1.24rem;
}


.card__actions__icon_button__delete {
    border: 1px solid $ERROR_COLOR;
    // background-image: linear-gradient(to bottom right, $ERROR_COLOR, rgba(255, .1, .1, .5));
}
.card__actions__icon_button__delete__active {
    background-image: linear-gradient(to bottom right, $ERROR_COLOR, rgba(255, .1, .1, .5));
}
.card__actions__icon_button__icon__delete {
    color: $ERROR_COLOR;
}


.card__actions__icon_button__on_going {
    border: 1px solid $TERTIARY_COLOR;
}
.card__actions__icon_button__on_going__active {
    background-image: linear-gradient(to bottom, $TERTIARY_COLOR, rgba(20, 168, 89, 0.5));
}
.card__actions__icon_button__icon__on_going {
    color: $TERTIARY_COLOR;
}

// .card__actions__icon_button__on_going__active__icon {
//     animation: shaker_kf 2s ease-in-out 5s infinite alternate both;
// }


.card__actions__icon_button__done {
    border: 1px solid $SUCCESS_COLOR;
}
.card__actions__icon_button__done__active {
    background-image: linear-gradient(to bottom right, $SUCCESS_COLOR, rgba(20, 168, 89, 0.5));
}
.card__actions__icon_button__icon__done {
    color: $SUCCESS_COLOR;
}

.card__actions__icon_button__icon__active {
    color: whitesmoke;
}

.card__actions__icon_button__icon__on_going__active {
    color: rgba(65, 217, 217, 1);
    animation: shaker_kf_2 2.4s ease-in-out 5s infinite alternate both;
}

.card__actions__icon_button {
    margin-right: .6rem;
}