@import "../../styles/commons";



.card {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 8px .5rem 8px 1rem;
    margin-bottom: .5rem;

    border-radius: 8px;

    background-color: rgba(255, 165, 0, .2);

    @media screen and (max-width: 400px) {
        // background-color: orange;
    }
}

.card_completed {
    // background-color: rgba(17, 135, 46, .3);
    // background-image: linear-gradient(to bottom right, rgba(17, 135, 46, .5), rgba(242, 184, 75, .8));
}
.card_completed::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 20%;
    bottom: 20%;
    width: 8px;

    border-radius: 4px;

    background-color: rgba(17, 135, 46, .6);

    transition: 2s;
}

.card_ongoing {
    // background-image: linear-gradient(to bottom, rgba(65, 217, 217, .2), rgba(65, 217, 217, .1), rgba(251, 101, 66, .1));
}
.card_ongoing::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 20%;
    bottom: 20%;
    width: 8px;

    border-radius: 4px;

    background-color: rgba(65, 217, 217, .6);
    
    transition: 2s;
}





.card__text {
    flex: 1;
    font-size: 1.1rem;
    text-align: left;

    color: $BLACK_COLOR;

    max-width: 80%;
    
    @media screen and (min-width: 880px) {
        font-size: 1.36rem;
    }
}

.card__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.card__actions__icon_button {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: $WHITE_COLOR;
    
    
    cursor: pointer;
}


.card__actions__icon_button__delete {
    border: 1px solid $ERROR_COLOR;
    // background-image: linear-gradient(to bottom right, $ERROR_COLOR, rgba(255, .1, .1, .5));
}
.card__actions__icon_button__delete__active {
    background-image: linear-gradient(to bottom right, $ERROR_COLOR, rgba(255, .1, .1, .5));
}
.card__actions__icon_button__icon__delete {
    color: $ERROR_COLOR;
}


.card__actions__icon_button__on_going {
    border: 1px solid $TERTIARY_COLOR;
}
.card__actions__icon_button__on_going__active {
    background-image: linear-gradient(to bottom, $TERTIARY_COLOR, rgba(20, 168, 89, 0.5));
}
.card__actions__icon_button__icon__on_going {
    color: $TERTIARY_COLOR;
}


.card__actions__icon_button__done {
    border: 1px solid $SUCCESS_COLOR;
}
.card__actions__icon_button__done__active {
    background-image: linear-gradient(to bottom right, $SUCCESS_COLOR, rgba(20, 168, 89, 0.5));
}
.card__actions__icon_button__icon__done {
    color: $SUCCESS_COLOR;
}

.card__actions__icon_button__icon__active {
    color: $WHITE_COLOR;
}

.card__actions__icon_button {
    margin-right: .6rem;
}